.estirar:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden
}
.estirar{
	display:block
}
* html .estirar
{
	height:1px
}

#super-contenedor 
{ 
	width:990px; 
	border:solid 1px #EBEBEB; 
	display:block; 
	padding:10px; 
	position:relative;
	color:#666;
	margin:0 auto;
}

#super-contenedor .redes-sociales
{
	position:absolute;
	float: right;
	top:7px;
	right:10px;
	width:200px;
}

#super-contenedor .apilar
{
	float: left;
	display:inline;
	margin: 5px;
}

#super-contenedor .facebook
{
	display:inline;
	float: right;
	margin:2px;
}

#super-contenedor .twitter
{
	display:inline;
	float: right;
	margin:2px;
}


#super-contenedor .goteo
{
	display:inline;
	float: right;
	margin:2px;
	
}

#super-contenedor .goteo:hover
{
	cursor:pointer;
	opacity:.5;
	filter:alpha(opacity=50%);
}

#super-contenedor .facebook:hover
{ 
		cursor:pointer;
}


#super-contenedor .titular 
{ 
	width:100%; 
	font-family: Arial, Helvetica, sans-serif;
	font-size:52px; 
	color:#ee7f00; 
	padding-bottom:5px; 
	margin-bottom:5px; 
	color:#000;
	letter-spacing:-0.03em;
	display:inline; float:left;
	font-weight:bold;
}

#super-contenedor .titular-met 
{ 
	font-family: Arial, Helvetica, sans-serif;
	font-size:42px; 
	color:#ee7f00; 
	padding-bottom:5px; 
	margin-bottom:5px; 
	color:#000;
	letter-spacing:-0.03em;
	display:inline; float:left;
	font-weight:bold;
}

	#super-contenedor .titular span
	{ 
		font-size:14px; 
		letter-spacing:-0.01em;
		font-weight:normal;
	}
	
	#super-contenedor .titular-met span
	{ 
		font-size:14px; 
		letter-spacing:-0.01em;
		font-weight:normal;
	}
	

#super-contenedor .subtit 
{ 
	width:100%; 
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px; 
	color:#999; 
	text-transform:uppercase;
	padding-bottom:5px; 
	margin-top:10px;
	margin-bottom:5px; 
	color:#666;
	letter-spacing:-0.01em;
}


#super-contenedor #segunda-parte
{ 
	width:100%; 
	display:inline; float:left;
	padding-bottom:5px;
	margin-bottom:5px;
	border-bottom:solid 1px #EBEBEB;
}

#super-contenedor .col1
{ 
	width:305px;
	display:inline; float:left;
	padding:10px;
}

#super-contenedor .col2
{ 
	display:inline; float:left;
	padding:10px;
}

#super-contenedor .central
{ 
	border-left:1px solid #EBEBEB;
	border-right:1px solid #EBEBEB;
}

#super-contenedor #segunda-parte .titu-metodologia
{ 
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:25px;
	color:#ee7f00;
}

#super-contenedor #segunda-parte .txt-metodologia
{ 
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#333;
}

#super-contenedor #segunda-parte .txt-metodologia p
{ 
	border-bottom:1px solid #EBEBEB;
	padding-bottom:6px;
}

#super-contenedor  ol.letras {
	list-style-type:lower-alpha;
}

#super-contenedor .leyenda-burbujas
{ 
	margin: 0 auto;
	width:370px;
	float:left; display:inline;
	font-family: Georgia, "Times New Roman", Times, serif;
	padding: 8px;
	margin-top:15px;
	color:#333;
	background:#333;
	font-size:12px;
	color:#FFF;
	position:absolute;
	z-index:222;
	top:-27px;left:26%;
	
}


#super-contenedor #entradilla 
{ 
	width:320px; 
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px; 
	color:#999; 
	padding-bottom:5px; 
	margin:0px 15px 5px 0px; 
	color:#666;
	letter-spacing:-0.01em;
	display:inline; float:left;
}

#super-contenedor .firmafuente
{ 
	width:100%; 
	font-family: Arial, Helvetica, sans-serif;
	font-size:13px; 
	padding:5px; 
	margin:5px; 
	color:#666;
	letter-spacing:-0.03em;
	display:inline; float:left;
	
}

#super-contenedor .firmafuente a
{ 
	color:#ee7f00; 
	text-decoration:none;
}

#super-contenedor .firmafuente a:hover
{ 
	color:#000; 
}

#super-contenedor #grandes-cifras
{ 
	width:650px;
	margin-bottom:2px;
	font-size:20px;
	letter-spacing:-0.03em;
	font-family: Arial, Helvetica, sans-serif;
	display:inline; float:left;
}

	#super-contenedor #grandes-cifras #tit-cifras
	{ 
	width:620px;
	margin-bottom:8px;
	font-size:14px;
	letter-spacing:-0.04em;
	font-family: Arial, Helvetica, sans-serif;
	display:inline; float:left;
	color:#000; font-weight:bold;
	}

	#super-contenedor #grandes-cifras ul#gcifras-int
	{ 
	list-style-type:none;
	margin:0; padding:0;
	font-weight:bold; color:#000;
	}
	
	#super-contenedor #grandes-cifras li.ultimo
	{ 
	margin-right:0px;
	border-right:0px
	}

	#super-contenedor #grandes-cifras span
	{ 
		font-weight:normal;
		font-size:13px;
	}
	
	#super-contenedor #grandes-cifras li
	{ 
		margin-right:5px;
		border-right: solid 1px #EBEBEB;
		padding-right:10px;
		display:inline; 
		float:left;
	}
	
#super-contenedor #botoneraint
{ 
	width:100%;
	margin:15px 0px;
	border-bottom:solid 1px #EBEBEB;
}

#super-contenedor #botoneraint #botones-int
{ 
	list-style-type:none;
	margin:0; padding:0;
}

	#super-contenedor #botoneraint #botones-int li
	{ 
		display:inline; float:left;
	}
	
	#super-contenedor #botoneraint #botones-int li:last-child
	{ 
		margin-right:15px;
	}

#super-contenedor #botoneraint a
{ 
	text-decoration:none;
	color:#333;
}

#super-contenedor .button
{ 
   	padding: 10px 15px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	margin-left:5px;
	color:#FFF;
	background:#ee7f00;
	background-image: -webkit-linear-gradient(top, #ee7f00 0%,#F60 100%);
   background-image:    -moz-linear-gradient(top, #ee7f00 0%,#F60 100%);
   background-image:     -ms-linear-gradient(top, #ee7f00 0%,#F60 100%);
   background-image:      -o-linear-gradient(top, #ee7f00 0%,#F60 100%);
   background-image:         linear-gradient(top, #ee7f00 0%,#F60 100%);
}

#super-contenedor .button a
{ 
	/*color:#333;*/
   	color:#FFF;
	text-decoration:none;
}

#super-contenedor .ant.button
{ 
	border: 1px solid #EBEBEB !important;
   	padding: 6px 4px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	margin-left:5px;
	color:#333;
	background:#FFF;
	background-image: linear-gradient(bottom, #FFF 10%, #EBEBEB 100%);
background-image: -o-linear-gradient(bottom, #FFF 10%, #EBEBEB 100%);
background-image: -moz-linear-gradient(bottom, #FFF 10%, #EBEBEB 100%);
background-image: -webkit-linear-gradient(bottom, #FFF 10%, #EBEBEB 100%);
background-image: -ms-linear-gradient(bottom, #FFF 10%, #FFD505 100%);
}

#super-contenedor .butFire
{ 
	border: 1px solid #EBEBEB !important;
   	padding: 6px 4px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	margin-left:5px;
	color:#333;
	background:#FFF;
	background-image: linear-gradient(bottom, #FFF 10%, #EBEBEB 100%);
	background-image: -o-linear-gradient(bottom, #FFF 10%, #EBEBEB 100%);
	background-image: -moz-linear-gradient(bottom, #FFF 10%, #EBEBEB 100%);
	background-image: -webkit-linear-gradient(bottom, #FFF 10%, #EBEBEB 100%);
	background-image: -ms-linear-gradient(bottom, #FFF 10%, #FFD505 100%);
}

#super-contenedor .butFire:hover
{ 
		background:#333;
		color:#FFF;
		cursor:pointer;
}

	#super-contenedor #botoneraint #botones-int li.active .button 
	{ 
		background:#333;
		color:#FFF;
	}
	
	
	#super-contenedor .button:hover
	{ 
		background:#333;
		color:#FFF;
	}
 
#super-contenedor #historias 
{
	display:inline; float:left;
}

#super-contenedor #explora 
{
	display:inline; float:left;
}

#super-contenedor #historias :last-child
{
	border-right:none;
}

#super-contenedor #historias #textos-historias 
{
	display:none;
}

#super-contenedor #historias #botones-lat 
{
	width:970px;
	display:inline; float:left;
}

	#super-contenedor ul#intenono
	{ 
		margin-left:5px;
	}

	#super-contenedor .titular-his 
	{
		width:105px; height:55px;
		display:inline; float:left;
		font-family: Arial, Helvetica, sans-serif;
		color:#333; 
		letter-spacing:-0.02em;
		border-right:solid 1px #EBEBEB;
		padding:5px 5px 5px 10px;
		border-top:4px solid #FFF;
		border-bottom:1px solid #EBEBEB;
		font-size:13px; 
	}
	
	#super-contenedor .titular-his:hover 
	{
		cursor:pointer;
		border-top:solid 4px #333;
		background:#EBEBEB;
	}
	
	#super-contenedor .titular-his.active
	{
		border-top:solid 4px #333;
		background:#EBEBEB;
		font-weight:bold;
	}

	#super-contenedor .cuadro
	{
		width:280px; height:540px;
		background:#FFF;
		border-right:solid 1px #999;
		padding: 0px 10px 0px 5px;
		display:inline; float:left;
		position:absolute;
		z-index:300;
		top:300px;
		left:10px;
	}
	
	#super-contenedor .cuadro-historia {
		margin-top:5px;
		width:260px;
		display:inline; float:left;

	}
	
	#super-contenedor .cuadro .titf
	{
		font-family:Georgia, "Times New Roman", Times, serif;
		color:#333;
		font-size:22px;
		line-height:22px;
		margin:15px 0 0 0 ;
		padding-bottom:10px;
	}
	
	#super-contenedor .cuadro .txtf
	{
		font-family:Georgia, "Times New Roman", Times, serif;
		color:#333;
		font-size:13px;
		line-height:16px;
	}
	
	#super-contenedor .cuadro .txtf a
	{
		text-decoration:none;
		color:#ee7f00;
		font-weight:bold;
	}
	
	#super-contenedor .col1 a
	{
		text-decoration:none;
		color:#ee7f00;
		font-weight:bold;
	}
	
	#super-contenedor .cuadro .txtf a:hover
	{
		text-decoration:none;
		color:#000;
		font-weight:bold;
	}
	
	#super-contenedor .col1 a:hover
	{
		text-decoration:none;
		color:#000;
		font-weight:bold;
	}
	
	#super-contenedor .cuadro .antsgt
	{
		width:250px;
		margin-top:15px;
		display:inline; float:left;
	}
	
	#super-contenedor .ant
	{
		display:inline; float:left; 
		width:35%;
		margin:5px;
		text-align:center;
		cursor:pointer;
	}

#super-contenedor #explora .reestab 
{ 
	position:absolute;
	width:110px;
	margin-top: 15px;
	right:1%;
   	border: solid 1px #666;
   	padding: 5px 10px 5px 10px;
   	font-family:Arial, Helvetica, sans-serif;
   	font-size:12px;
   	color:#333;
   	z-index:230;
	top:248px;
	background:#FFF;
	right:80px;
}

	#super-contenedor #explora .reestab:hover 
	{ 
		background:#333;
		color:#FFF;
		cursor:pointer;
	}

	
#super-contenedor #explora #selectores
{ 
	width:970px;
	display:inline; float:left;
	background:#FFF;
}

#super-contenedor .tira-botones
{ 
	width:970px; height:25px;
	display:inline; float:left;
	font-size:13px;
	padding-bottom:10px;
	border-bottom:1px solid #EBEBEB;
	font-family:Arial, Helvetica, sans-serif;
	vertical-align:middle;
	margin-bottom:10px;
}

#super-contenedor .tira-botones a
{ 
	color:#333; text-decoration:none;
}

#super-contenedor .tira-botones a:hover
{ 
	color:#ee7f00; text-decoration:none;
}

#super-contenedor .tira-botones a:hover img
{ 
	opacity:.5;
				filter:alpha(opacity=50%);
				cursor:pointer;
}

#super-contenedor .tira-botones span
{ 
	margin-left:6px;
	margin-top:8px; 
}

#super-contenedor #explora #datos-flotantes
{ 
	width:200px;  
	position: absolute;
	background:#FFF;
	border:1px solid #EBEBEB;
	z-index:250;
	top:312px;
	left:42px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
}

#super-contenedor #explora .extra-datos
{ 
	padding:5px;
	color:#999;
	font-size:12px;
}


#super-contenedor #explora ul
{ 
	list-style-type:none;
	padding:20px;
	margin:0;
}

#super-contenedor #explora ul li
{ 
	margin-bottom:10px;
	border-bottom:1px solid #EBEBEB;
}

#super-contenedor #explora ul li .resultado-datos
{ 
	font-weight:bold;
	font-size:18px;
}
	
	#super-contenedor #explora .selector 
	{  
		color:#333; 
		font-family:Arial, Helvetica, sans-serif; 
		font-weight:bold; 
		padding:7px; 
		font-size:12px; 
		display:inline; 
		float:left; 
		margin:0px 5px 5px 0px;
		
	}
	
	#super-contenedor #explora .selector span 
	{  
		margin-bottom:10px;
		padding-bottom:0px;
	}
	
	#super-contenedor #explora .selector ul 
	{  
		margin-top:10px;
		padding-top:10px;
	}
		#super-contenedor #explora .selector .layout-slider 
		{
			margin-top: 5px;
			width: 200px;
			padding-right:5px;
			padding-bottom:0px;
		}
		
		#super-contenedor #explora .selector .layout-slider #range
		{
			border:0;
			width:100%;
			color: #ee7f00; 
			text-align:center;
			font-weight:bold;
			margin-top:5px;
			margin-bottom:10px;
		} 
		
		
		
		#super-contenedor #explora .selector ul 
		{
			list-style-type:none;  
			margin-left:-35px; 
			font-weight:normal; 
			font-size:10px; 
			margin-top:5px;
			margin:0; padding:0;
		}
		
		#super-contenedor #explora .selector li 
		{ 
			display:inline; 
			float:left;
			margin-right:3px; 
			vertical-align:middle;  
			border-bottom:none;
	
		}
		
			#super-contenedor #explora .selector .optionGroup 
			{ 
				font-weight:bold;
				font-style:italic;
		
			}
			
			#super-contenedor #explora .selector .optionChild 
			{ 
				/*padding-left:15px !important;*/
			}

		#super-contenedor  .selector:hover 
		{  
			/*background:#333;  
			color:#FFF;*/ 
			cursor:pointer;
		}
		
		#super-contenedor #buscador .buscadores
		{
		color:#666;
		padding-top:15px;
		font-size:22px;
		letter-spacing:-0.03em;
		}

/*JUAN*/
#super-contenedor #buscador
{
	width:100%;
	display:inline; float:left;
	position:relative;
	top:-74px;
}

	#super-contenedor .titular-busq 
	{
		width:12%; height:60px;
		display:inline; float:left;
		font-family: Georgia, "Times New Roman", Times, serif;
		color:#333; 
		letter-spacing:-0.06em;
		border-right:solid 1px #EBEBEB;
		padding:5px 5px 5px 10px;
		border-top:4px solid #FFF;
	}
	
	#super-contenedor .titular-busq:hover 
	{
		cursor:pointer;
		border-top:solid 4px #333;
		background:#EBEBEB;
	}
	
	#super-contenedor .titular-busq.active
	{
		border-top:solid 4px #333;
	}
	
	#super-contenedor .cuadro-busq
	{
		width:200px; height:50px;
		position:absolute; 
		background:#FFF;
		top:215px; right:10px;
		z-index:223;
		padding: 5px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:12px;
	}
	
	#super-contenedor .cuadro-busq .busq-wrapper
	{
		font-size:12px;
		height:11px; width:150px;
		display:inline; float:left; 
	}
	
	#super-contenedor .cuadro-busq .butira
	{
		display:inline; float:left; 
		width:35px; height:20px;
		margin:-5px 5px;
		text-align:center;
		cursor:pointer;
	}

#super-contenedor #loading 
{ 
	width:100%; 
	height:30px;  
	display:inline; 
	float:left; 
	margin-top:-12px;
}

#super-contenedor #columna-dcha 
{ 
	width:690px;
	margin-top:12px;
	display:inline; float:right; 
	font-family:Arial, Helvetica, sans-serif;
}

#super-contenedor #explora #columna-dcha 
{ 
	width:980px; 
	margin-top:12px;
	display:inline; float:left; 
	font-family:Arial, Helvetica, sans-serif;
}

	#super-contenedor #columna-dcha #main 
	{
		position:relative;
		width:100%; 
		display:inline; float:left; 
	}
	
		#super-contenedor #main .pieza-leyenda
		{ 
			width:150px; 
			position:absolute;
			padding:5px 10px; 
			font-family: Arial, Helvetica, sans-serif; 
			font-size:12px; 
			color:#666; 
			z-index:200;
			top:60px;
			right:0px;
			color:#333;
			background: #EBEBEB;
			height:40px;
		}
		
		#super-contenedor #main .mapa-canarias
		{ 
			position:absolute;
			z-index:200;
			bottom:30px;
			left:10px;
			border: 1px solid black;
			-moz-box-shadow: 0 0 1em #666;
			-webkit-box-shadow: 0 0 1em #666;
			box-shadow: 0 0 1em #666;
		}
		
			#super-contenedor #main .mapa-canarias:hover
			{ 
				opacity:.5;
				filter:alpha(opacity=50%);
				cursor:pointer;
			}
	
		#super-contenedor #main .claves-fuegos
		{ 
			width:150px; 
			position:absolute; 
			padding:5px 10px; 
			font-family: Arial, Helvetica, sans-serif; 
			font-size:12px; 
			color:#333; 
			z-index:200;
			top: 30px;
			right:0px;
			background: #EBEBEB;
			padding:10px;
			margin:0;
			height:28px;
		}
		
	
			#super-contenedor #main .claves-fuegos ul
			{ 
				list-style-type:none; 
				width:100%; 
				margin-top:-2px;
				margin-left:-35px;
			}
			
			#super-contenedor #explora .claves-fuegos ul
			{ 
				margin-top:-23px;
				margin-left:-18px;
			}
			
			#super-contenedor #main .claves-fuegos li 
			{ 
				margin-bottom: 5px;
			}
			
			#super-contenedor #main .claves-fuegos .fuego-int 
			{ 
				width:10px; 
				height:10px; 
				background-color: #C03; 
				display:inline; 
				float:left; 
				margin-right:5px;
			}
			
			#super-contenedor #main .claves-fuegos .fuego-noint 
			{ 
				width:10px; 
				height:10px; 
				background:#439b8f; 
				display:inline; 
				float:left; 
				margin-right:5px;
			}

	#super-contenedor #columna-dcha #mapa 
	{ 
		width:100%; 
		height:540px; 
		background:#CCC;  
		display:inline; 
		float:left; 
		margin-top:-12px;
	}
	
		#super-contenedor #columna-dcha #mapa .fireLayer 
		{
  			position: absolute;
		}

			#super-contenedor #columna-dcha #mapa .fireLayer .wrapper 
			{
  				position: absolute;
			}

			#super-contenedor #columna-dcha #mapa .fireLayer .fireCircle 
			{
				fill-opacity: 0.8;
				stroke: black;
				stroke-width: 0px;
			}
			
			#super-contenedor #columna-dcha #mapa .fireLayer .fireCircle:hover 
			{
				cursor:pointer;
			}
	
	#super-contenedor #timSlider 
	{ 
		width:635px; 
		display:inline; 
		float:left; 
		margin-top:12px;
		border:solid 1px #EBEBEB;
		padding:6px 5px;
		color:#CCC;
		background:#FFF;
		font-family:Arial, Helvetica, sans-serif;
		font-size:14px;
	}
	
	#super-contenedor #descargas 
	{ 
		width:330px; 
		display:inline; 
		float:left; 
		margin-top:12px;
		border:solid 1px #EBEBEB !important;
		color:#CCC;
		background:#FFF;
		margin-left:5px;
	}

	#super-contenedor #descargar-btn 
	{ 
			width:145px;
			/*margin:4px;*/
			display:inline; float:left;
	}

		#super-contenedor #timSlider #yearnavbar span.yearselect
		{
			font-weight:bold;
			cursor: pointer; 
			cursor: hand;
			float:left; 
			color:#333;
			margin: 0 5px;
			padding-top:5px;
		}
		
		#super-contenedor #timSlider #yearnavbar span.year
		{
			cursor: pointer; 
			cursor: hand;
			float:left; 
			margin: 0 5px;
			padding-top:5px;
		}
		
		#super-contenedor #timSlider #yearnavbar span.year:hover
		{
			color:#333;
		}
		
		#super-contenedor #timSlider #yearnavbar span.sep
		{
			margin-left: 5px; 
			margin-right: 5px;
			float:left; 
			padding-top:5px;
		}
		
		#super-contenedor #timSlider #playBtn
		{
			width: 14px;
			height: 14px;
			margin-top: 1px;
			margin-right: 15px;
			cursor: pointer; 
			cursor: hand;
			margin-left:10px;
		}
		
		#super-contenedor #timSlider #playBtn:hover
		{
			opacity:.5;
			filter:alpha(opacity=50)
		}
		#super-contenedor #timSlider #playBtn.pause:hover
		{
			opacity:.5;
			filter:alpha(opacity=50)
		}
		
		#super-contenedor #timSlider #playBtn.pause
		{
			background-image: url('../img/pause.icon.png');
			width: 25px;
			height: 25px;
			margin-top: 1px;
			margin-right: 15px;
			margin-left:10px;
		}
		
		#super-contenedor #timSlider #playBtn.play
		{
			background-image: url('../img/play.icon.png');
			width: 25px;
			height: 25px;
			margin-top: 1px;
			margin-right: 15px;
			margin-left:10px;
		}
		
		#super-contenedor #timSlider #yearnavbar a
		{
			color:#666;
			text-decoration:none;
			padding-top:10px;
			margin-top:5px;
		}